
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Тык", nameof(FinancePypamide.Controllers.LoginController.Signin), 
    nameof(FinancePypamide.Controllers.LoginController).Replace("Controller",""))